
<!DOCTYPE html>
<html lang="en">


<body>

<ul>
  <button class="button" (click)="onLogout()">Log Out</button>
</ul>
<ul>
  <button class="button" (click)="onChat()">Live Chat</button>
</ul>
<div class="parent">
<div class="child">
  <form>
    <label>Username</label>
    <input type="text" placeholder="username" [(ngModel)]="user.username" [ngModelOptions]="{standalone: true}">
    <label>Name</label>
    <input type="text" placeholder="name" [(ngModel)]="user.name" [ngModelOptions]="{standalone: true}">
    <label>Role</label>
    <input type="text" placeholder="role" [(ngModel)]="user.role" [ngModelOptions]="{standalone: true}">
    <label>Status</label>
    <input type="text" placeholder="status" [(ngModel)]="user.status" [ngModelOptions]="{standalone: true}">
    <input class="butto" type="submit" value="Edit User" (click)="onEdit()">
  </form>

  <form>
    <label>ID</label>
    <input type="text" placeholder="id" [(ngModel)]="device._id" [ngModelOptions]="{standalone: true}">
    <label>Description</label>
    <input type="text" placeholder="description" [(ngModel)]="device.description" [ngModelOptions]="{standalone: true}">
    <label>Address</label>
    <input type="text" placeholder="address" [(ngModel)]="device.address" [ngModelOptions]="{standalone: true}">
    <label>Consumption</label>
    <input type="text" placeholder="consumption" [(ngModel)]="device.maxHConsumption" [ngModelOptions]="{standalone: true}">
    <label>Username</label>
    <input type="text" placeholder="username" [(ngModel)]="device.username" [ngModelOptions]="{standalone: true}">
    <input class="butto" type="submit" value="Add Device" (click)="onAdd()">
    <input class="butto" type="submit" value="Edit Device" (click)="onEditDevice()">
  </form>
  <form>
    <input type="text" placeholder="username" [(ngModel)]="username" [ngModelOptions]="{standalone: true}">
  </form>

</div>

<div class="child">
  <button class="butto" (click)="map()">map</button>
  <table class="clsa">
    <tr>
      <th>ID</th>
      <th>Description</th>
      <th>Address</th>
      <th>Consumption</th>
      <th>Username</th>
      <th></th>
    </tr>
    <tr *ngFor="let iteme of deviceArr1">
      <td>{{iteme._id}}</td>
      <td>{{iteme.description}}</td>
      <td>{{iteme.address}}</td>
      <td>{{iteme.maxHConsumption}}</td>
      <td>{{iteme.username}}</td>
      <button type="button" class="delete" (click)="onDelete1(iteme)">Delete</button>
    </tr>
  </table>
<button class="butto" (click)="getDev()">GetDevices</button>
<table class="clsa">
  <tr>
    <th>ID</th>
    <th>Description</th>
    <th>Address</th>
    <th>Consumption</th>
    <th>Username</th>
    <th></th>
  </tr>
  <tr *ngFor="let item of deviceArr">
    <td>{{item._id}}</td>
    <td>{{item.description}}</td>
    <td>{{item.address}}</td>
    <td>{{item.maxHConsumption}}</td>
    <td>{{item.username}}</td>
    <button type="button" class="delete" (click)="onDelete1(item)">Delete</button>
  </tr>
</table>



<button class="butto" (click)="getUs()">GetUsers</button>
<table class="clse">
  <tr>
    <th>Name</th>
    <th>Username</th>
    <th>status</th>
    <th>role</th>
    <th></th>
  </tr>
  <tr *ngFor="let items of UserArr">
    <td>{{items.name}}</td>
    <td>{{items.username}}</td>
    <td>{{items.status}}</td>
    <td>{{items.role}}</td>
    <button type="button" class="delete" (click)="onDelete(items)">Delete</button>
  </tr>
</table>
</div>
</div>

</body>
</html>
