<div class="container-fluid">
  <div class="">

    <div class="col-md-5">

      <div class="user-list-card">
        <div class="user-card"
             [class.active]="user?.username === selectedUser?.username && 'active'"
             *ngFor="let user of allUsers"
             (click)="selectUserHandler(user?.username)"
        >

          <img src="../../../assets/userIcon.png"
               [alt]="user?.username"
               class="avatar"
          />
          <p class="username">{{user?.username}}</p>
          <p class="username" *ngIf="user?.username == currentUser.username">(YOU)</p>
        </div>
      </div>

    </div>
    <div class="col-md-7">

      <div class="chat-container">
        <ng-container *ngIf="selectedUser">
          <div class="chat-header">

            <img src="../../../assets/userIcon.png"
                 [alt]="selectedUser?.username"
                 class="avatar"
            />
            <p class="username">{{selectedUser?.username}} ({{selectedUser.role}})</p>

          </div>

          <div class="chat-body">
            <div *ngFor="let item of messageArray"
                 [class.active]="item?.user === selectedUser?.username && 'same-user'"
            >
              <p class="message-container">{{item?.message}}</p>
            </div>
          </div>

          <div class="chat-footer">

            <div class="row">
              <div class="col-md-10">
                <div class="form-group mb-0">
                  <input type="text"
                         placeholder="Type a message"
                         class="form-control"
                         [(ngModel)]="messageText"
                         (keyup)="$event.keyCode === 13 && sendMessage()"
                  />
                </div>
              </div>

              <div class="col-md-2 text-center align-self-center">
                <button class="btn btn-primary btn-md px-3"
                        (click)="sendMessage()">Send
                </button>
              </div>
            </div>

          </div>
        </ng-container>
      </div>

    </div>

  </div>

</div>
